@{
    ViewBag.Title = "TxtInput";
}

<h2>TxtInput</h2>

<form action="TxtInput" method="post" enctype="multipart/form-data">
    <div class="row justify-content-center align-items-center">
        <textarea class="col-2 fileInput" accept=".txt" type="text" name="input"></textarea>
        <div class="col-2 d-flex align-items-center">
            <button class="w-100 lightBtn" type="submit">Compile</button>
        </div>

    </div>
</form>

